<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Medical</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="script.js"></script>
</head>
<body>
    
    <button id="notificationButton" class="notification-button">
        <i class="fas fa-envelope"></i>
    </button>

    <div id="notificationPopup" class="notification-popup hidden">
        <p>Vrei să primești notificări și remindere?</p>
        <input type="email" id="userEmail" placeholder="Introdu mailul tău...">
        <button id="subscribeButton">Abonează-te</button>
    </div>

    <div id="thankYouMessage" class="thank-you-message hidden">
        Mulțumim că te-ai abonat!
    </div>

    <div id="feedbackButton" class="feedback-button">
        <i class="fas fa-thumbs-up"></i> <!-- Iconița "like" de la FontAwesome -->
        <span>Feedback</span> <!-- Textul "Feedback" lângă iconiță -->
    </div>

    <div id="feedbackModal" class="feedback-modal hidden">
        <h2>Cum ai evalua experiența ta cu MedBot azi?</h2>
        <div class="emoji-options">
            <button class="emoji-option" data-value="trist">
                <i class="far fa-frown"></i>
            </button>
            <button class="emoji-option" data-value="neutru">
                <i class="far fa-meh"></i>
            </button>
            <button class="emoji-option" data-value="fericit">
                <i class="far fa-smile"></i>
            </button>
        </div>
    </div>

    <div class="container">
        <h1>Chatbot Medical</h1>
        <div id="chat-container">
            <!-- Adaugă mesajul de introducere aici -->
            <div class="bot-message">
                <p>Bună, sunt MedBot și sunt aici să-ți răspund la orice întrebări medicale ai avea. Te rog să ții cont că dețin doar niște cunoștințe generale și te pot ajuta cu unele sfaturi, însă mereu este indicat să consulți și un medic specializat dacă ai orice fel de problemă medicală.</p>
            </div>
            {% for message in chat_messages %}
                {% if message['sender'] == 'user' %}
                    <div class="user-message">
                        <p><strong>{{ current_user.username }}:</strong> {{ message['content'] }}</p>
                    </div>
                {% else %}
                    <div class="bot-message">
                        <p>{{ bot_response }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="text" id="user-input" placeholder="Introdu întrebarea ta...">
        {% if is_authenticated %}
            <button onclick="sendMessage()">Trimite</button>
            <i class="fas fa-circle-notch fa-spin loading-icon" id="loading-icon" style="display: none;"></i>
        {% else %}
            <div class="container_avertizare">
                Trebuie să fii autentificat pentru a trimite un mesaj!
            </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        alert("{{ category }}: {{ message }}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if is_authenticated %}
    <div class="greeting-container styled-container">
        Salut {{ current_user.username }}
    </div>
    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="login-button">Login</a>
        <a href="{{ url_for('register') }}" class="register-button">Register</a>
    {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div class="powered-by">
        <p>Powered by Bard <i class="fas fa-battery-half"></i></p>
    </div>
    
</body>
</html>